<!-- ReSharper disable UnknownCssClass -->
<div id="wrapper">

    <!-- Sidebar -->
    <div till-quick-payments ng-controller="tillQuickPaymentsCtrl"></div>
    
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">                    
                    <div till-basket-view></div>                    
                </div>
            </div>
        </div>
        <!-- ReSharper restore UnknownCssClass -->
    </div>
</div>
