<nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm" role="navigation">
    <a class="navmenu-brand" href="#">Products</a>
    <ul class="nav navmenu-nav">
        <li ng-if="order.status == 'Shopping' || order.status == 'NotStarted'" class="quickproduct" ng-repeat="product in quickproducts.products">
            <a href ng-click="addProductById(product.GTIN[0])">
                <div class="row">
                    <div class="col-xs-12">
                        <img class="thumbnail" src="{{ product.imageUrl[0] }}" alt="{{ product.GTIN[0] | prodDesc }}">
                        <span>{{ product.GTIN[0] | prodDesc }}</span>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</nav>