<!-- ReSharper disable UnknownCssClass -->
<div id="wrapper">

    <!-- Sidebar -->
    <div till-quick-products ng-controller="tillQuickProductsCtrl"></div>
    
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    
                    <div till-basket-view></div>                    

                    <form>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon glyphicon glyphicon-barcode"></span>
                                <input type="text" class=" text-right form-control input-lg" ng-model="formData.productId">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default btn-lg" ng-click="addProductByForm()">OK</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- ReSharper restore UnknownCssClass -->
    </div>
</div>
